body
{
background-image: url("Images/100_4678.JPG");
background-size: 100%;
font: normal bolder 12pt "Times New Roman", Serif;
border-color: black;
background-attachment: fixed;

}



td a
{

border: solid;
border-color: #cacd58 #5faf8a #b9cea5 #aab238;
border-radius: 13px;
font-weight: 700;
overflow: auto;
}




a 
{
text-decoration: none;
padding: 15px 15px;
font-size: 15pt;
font-family: "Times New Roman", Georgia, Serif;
color: #2F4F4F;
background-color: #7FB5EC;
opacity: 1;
}

a:hover
{
border-style: outset;
border-color: #aab238;
font-family: "Times New Roman", Georgia, Serif;
color: #000000;
font-weight: bolder;
background-color: #B0C4DE;
}

a:active
{
border-style: inset;
font-family: "Times New Roman", Georgia, Serif;
color: #191970;
}

a.lest
{
font: normal bolder 12pt "Times New Roman", Serif;
background-color: inherit;
text-decoration: underline;
padding: none;
color: #e51537;
}

a.lest:hover
{
font: normal bolder 12pt "Times New Roman", Serif;
background-color: inherit;
text-decoration: underline;
padding: none;
color: #f59c3d;
border: none;
}


a.lest:active
{
font: normal bolder 12pt "Times New Roman", Serif;
background-color: inherit;
text-decoration: underline;
padding: none;
color: #b53df5;
border: none;
}




h2
{
text-align: center;
font:  bolder 16pt "Times New Roman",serif;
}

h3
{
margin-left: 5pt;
}

p
{
font: normal solid 10pt arial, serif;
text-indet: padding 10pt;
text-align:  justify;
text-indent: 25px;
padding: 0 5px 0 5px;
}

li,ol
{
text-align: left;
margin-left: 5pt;
}

img
{
margin:  7px 7px;

}


#box
{ 
position: relative;
overflow: visible;
max-width: 800pt;
min-width: auto;
max-height: auto;
min-height: auto;
background-image: url("Images/logo_fon.png");
margin-right: auto;
margin-left: auto;
border-radius: 10px;
opacity: .95;
}

#logo
{
margin-top: 0pt;
margin-right: auto;
margin-bottom: auto;
margin-left: 20pt;
}

#table
{
background-color: #1560BD;
max-width: 100%%;
min-width: auto;
max-height: 40pt;
min-height: auto;
margin-top: auto;
margin-right: center;
margin-bottom: auto;
margin-left: 0%;
padding: 15px 14px;
border-radius: 10px;
}

#con
{
position: absolute;
margin-top: 0pt;
margin-right: auto;
margin-bottom: auto;
margin-left: 0%;
min-width: auto;
max-width: 60%;
max-height: auto;
min-height: auto;
padding: 6pt;
background-image: url("Images/logo_fon.png");
background-color: ;
}

#news
{
background-color: #99CCFF;
position: relative;
margin-top: 0pt;
margin-left: 64%;
margin-bottom: 50pt;
max-width: 40%;
max-height: auto;
min-height: 100%;
text-indet: padding 10pt;
border-top: none;
border-right: none;
border-bottom: none;
border-left: none;
border-color: #b9cea5;
border-radius: 10px;
}


#date
{
margin-top: 10pt;

}

#line
{
background-color: #e37a30;
opacity: .7;
max-width: 100%;
min-width: 100%;
max-height: 50pt;
min-height: auto;
position: fixed;
bottom: 0%;
text-align: right;
margin-left: -17pt;
padding-left: 10pt;
}











